@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
    min-height: calc(100vh - 65px);
    min-height: calc(100lvh - 65px);
}

.feedback-img{
    height: 50px;
    width: 50px;
}